body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;

}
.face-gallery{
    display: grid;
    grid-template-columns: repeat (auto-fill,minmax(100px,3fr) );
    gap: 5px;
}

.face-gallery img{
    /* min-width: 100%; */
}